<a href="https://colab.research.google.com/github/nekiteska/BDX/blob/main/BDAUTO2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Подключение библиотек
import pandas as pd
import numpy as np

In [ ]:
#Создание DataFrame из файла
auto_df = pd.read_csv("Automobile.csv", ",")
df_nan = pd.read_csv("Automobile.csv", ",")

<ipython-input-5-f6a9dd207032>:2: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  auto_df = pd.read_csv("Automobile.csv", ",")
<ipython-input-5-f6a9dd207032>:3: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  df_nan = pd.read_csv("Automobile.csv", ",")

In [ ]:
df_nan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          398 non-null    object
 1   mpg           398 non-null    float64
 2   cylinders     398 non-null    int64
 3   displacement  398 non-null    float64
 4   horsepower    392 non-null    float64
 5   weight        398 non-null    int64
 6   acceleration  398 non-null    float64
 7   model_year    398 non-null    int64
 8   origin        398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [ ]:
df_nan.iat[0, 1]=None
df_nan.iat[3, 6]=None
df_nan.iat[2, 2]=None
df_nan.head(7)
#ЗАМЕНА ОТДЕЛЬНЫХ ЗНАЧЕНИЙ df_nan ПРОПУСКАМИ

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,NaN,8.0,307.0,130.0,3504,12.0,70,usa
1,buick skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,usa
2,plymouth satellite,18.0,NaN,318.0,150.0,3436,11.0,70,usa
3,amc rebel sst,16.0,8.0,304.0,150.0,3433,NaN,70,usa
4,ford torino,17.0,8.0,302.0,140.0,3449,10.5,70,usa
5,ford galaxie 500,15.0,8.0,429.0,198.0,4341,10.0,70,usa
6,chevrolet impala,14.0,8.0,454.0,220.0,4354,9.0,70,usa

In [ ]:
df_nan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          398 non-null    object
 1   mpg           397 non-null    float64
 2   cylinders     397 non-null    float64
 3   displacement  398 non-null    float64
 4   horsepower    392 non-null    float64
 5   weight        398 non-null    int64
 6   acceleration  397 non-null    float64
 7   model_year    398 non-null    int64
 8   origin        398 non-null    object
dtypes: float64(5), int64(2), object(2)
memory usage: 28.1+ KB